@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  color: #0f0f0f;
  min-height: 100%;
}
.panel-parent .panel {
  display: none;
}
.panel-parent input {
  cursor: pointer;
}
.panel-parent:hover .panel {
  display: flex;
}
